﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="top-panel">
        <div class="top-panel-center">    
            <img src="../Content/img/login/logo.jpg" alt=""/>
         </div>
    </div>
    <div class="body">
        @RenderBody()
    </div>
</body>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</html>
