﻿

        <h4>Overview</h4>
        <input id="Heading" class="form-control"  style="width: 300px;" type="text" data-bind="value: Heading" />
        <input id="Site" class="form-control" style="width: 400px;" type="text" data-bind="value: Site" />
        <br />
        <textarea id="Description" class="form-control" data-bind="text: Description"></textarea>
        <br />
        <input id="ChangeRequestor" class="form-control" style="width: 300px;" type="text" data-bind="value: ChangeRequestor" />
        <input id="Position" class="form-control" type="text" data-bind="value: Position" />
        <input id="Phone" class="form-control" type="text" data-bind="value: Phone" />
 

<!--<br />
    <div style="width: 900px; padding-left: 15px; float: left;">
        <h4>System Management Plan and Documentation</h4>
        <a>Does this RFC relate to a system moving from Dev. to UAT? </a>
        <input style="display: table-column" type="checkbox" />
    </div>

    <div style="width: 900px; padding-left: 15px; height: 150px; float: left;">
        <h4>Business Impact & Risk to ContinuityOverview Details</h4>
    </div>

    <div style="width: 900px; padding-left: 15px; height: 150px; float: left;">
        <h4>Queensland Health Integrated Risk Management</h4>
    </div>

    <div style="width: 900px; padding-left: 15px; height: 150px; float: left;">
        <h4>Implementation and Rollback activities</h4>
    </div>

    <div style="width: 900px; padding-left: 15px; height: 150px; float: left;">
        <h4>Authorisation</h4>
    </div>
    -->

@section scripts
{
    <script type="text/javascript">

        var viewModel = function () {

            var self = this;
            self.ChangeRequestor = ko.observable("Change Requestor");
            self.Position = ko.observable("Position");
            self.Phone = ko.observable("Phone");
            self.Heading = ko.observable("RFC Title");
            self.Description = ko.observable("Description");
            self.Site = ko.observable("Site(s) Effected");
            self.getUser = function () {
                $.ajax('@Url.Action("GetUsers")',
                    {
                        type: 'Get',
                        success: function (data) {
                            self.user(data);
                        }
                    });
            };

            return self;
        };

        ko.applyBindings(viewModel());

    </script>
}