﻿
.top-panel-center{
    width: 70%;
    margin: 0 auto;
   
}

.top-panel-label{
  height: 40px!important; 
  vertical-align: middle!important; 
  display: table-cell   
}

.top-panel {
    height: 40px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10000;
    border-radius: 0;
    clear: both;
    background: #333333;
    display: table-cell;
    vertical-align: middle!important;
}

.bodyx {
    width: 70%;
    margin: 0 auto;
    background: #f5f5f5;
    box-shadow: 0 4px 8px rgba(100, 100, 100, 0.3);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 1000px;
}

