﻿@{
    ViewBag.Title = "Login";
}
<div class="bodyx" style="margin-top: 0px; margin-top: 40px; padding-top: 50px!important;">
    <div class="bodyx" style="height: 300px!important; width: 40%; background: white; z-index: 0;">
        
        <form style="width: 50%; margin: 0 auto; padding-top: 35px;">
            <legend>Login </legend>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <div class="checkbox">
                <label>
                    <input type="checkbox">Remeber Me?
                </label>
            </div>
        </form>
    </div>
</div>
