/** 
 * Alerts 
 */
.alert 
{
  	font-size: 13px;
  	background-color: rgba(0, 0, 0, 0.15);
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  	background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#15000000')";
  	background-color: #e6e6e6;
  	margin-bottom: 18px;
  	padding: 8px 15px;
  	color: #ffffff;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
.alert p 
{
  	font-size: 13px;
  	color: #ffffff;
  	margin-bottom: 0;
}
.alert-error 
{
  	background-color: #d83a2e;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#e4776f), to(#d83a2e));
  	background-image: -moz-linear-gradient(#e4776f, #d83a2e);
  	background-image: -ms-linear-gradient(#e4776f, #d83a2e);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4776f), color-stop(100%, #d83a2e));
  	background-image: -webkit-linear-gradient(#e4776f, #d83a2e);
  	background-image: -o-linear-gradient(#e4776f, #d83a2e);
  	background-image: linear-gradient(#e4776f, #d83a2e);
  	border-bottom-color: #b32b21;
}
.alert-warning 
{
  	background-color: #ffd040;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe38d), to(#ffd040));
  	background-image: -moz-linear-gradient(#ffe38d, #ffd040);
  	background-image: -ms-linear-gradient(#ffe38d, #ffd040);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe38d), color-stop(100%, #ffd040));
  	background-image: -webkit-linear-gradient(#ffe38d, #ffd040);
  	background-image: -o-linear-gradient(#ffe38d, #ffd040);
  	background-image: linear-gradient(#ffe38d, #ffd040);
  	border-bottom-color: #ffc40d;
}
.alert-success 
{
  	background-color: #62bc62;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#97d397), to(#62bc62));
  	background-image: -moz-linear-gradient(#97d397, #62bc62);
  	background-image: -ms-linear-gradient(#97d397, #62bc62);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97d397), color-stop(100%, #62bc62));
  	background-image: -webkit-linear-gradient(#97d397, #62bc62);
  	background-image: -o-linear-gradient(#97d397, #62bc62);
  	background-image: linear-gradient(#97d397, #62bc62);
  	border-bottom-color: #46a546;
}
.alert-info 
{
  	background-color: #04aef4;
  	background-repeat: repeat-x;
  	background-image: -khtml-gradient(linear, left top, left bottom, from(#62cffc), to(#04aef4));
  	background-image: -moz-linear-gradient(#62cffc, #04aef4);
  	background-image: -ms-linear-gradient(#62cffc, #04aef4);
  	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62cffc), color-stop(100%, #04aef4));
  	background-image: -webkit-linear-gradient(#62cffc, #04aef4);
  	background-image: -o-linear-gradient(#62cffc, #04aef4);
  	background-image: linear-gradient(#62cffc, #04aef4);
  	border-bottom-color: #049cdb;
}
.block-message 
{
  	font-size: 13px;
  	margin-bottom: 18px;
  	padding: 14px;
  	color: #313131;
  	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
}
.block-message p 
{
  	color: #313131;
  	margin-right: 30px;
  	margin-bottom: 0;
  	font-size: 13px;
}
.block-message ul 
{
  	margin-bottom: 0;
}
.block-message strong 
{
  	display: block;
}
.block-message-error 
{
  	background: #f8dcda;
  	border: 1px solid #f4c8c5;
}
.block-message-warning 
{
  	background: #fff0c0;
  	border: 1px solid #ffe38d;
}
.block-message-success 
{
  	background: #dff1df;
  	border: 1px solid #bbe2bb;
}
.block-message-info 
{
  	background: #c7eefe;
  	border: 1px solid #ade6fe;
}
.close 
{
  	float: right;
  	margin-top: -6px;
  	color: #333333;
  	font-size: 20px;
  	font-weight: bold;
  	text-shadow: 0 1px 0 #ffffff;
  	filter: alpha(opacity=20);
  	-khtml-opacity: 0.2;
  	-moz-opacity: 0.2;
  	opacity: 0.2;
}
.close:hover 
{
  	text-decoration: none;
  	filter: alpha(opacity=40);
  	-khtml-opacity: 0.4;
  	-moz-opacity: 0.4;
  	opacity: 0.4;
}
/* @end Alerts */
