/**
 * Tables
 */
table 
{
  	width: 100%;
  	margin-bottom: 18px;
  	padding: 0;
  	border-collapse: separate;
  	font-size: 13px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
table th, 
table td 
{
  	padding: 10px;
  	line-height: 13.5px;
  	text-align: left;
  	vertical-align: middle;
  	border-top: 1px solid #dddddd;
}
table th 
{
  	font-weight: bold;
    border-top: none;
}
.table-striped tbody tr:nth-child(odd) td 
{
  	background-color: #f9f9f9;
}
.table-striped tbody tr:hover td 
{
  	background-color: #f5f5f5;
}
/* @end Tables */
